{% extends 'base.html.twig' %}

{% block title %}Home
{% endblock %}

{% block body %}
	<h1>SnowTricks</h1>

	{# p that says hello, full username, you verified, and prints the verified variable #}
	{% if is_granted('IS_AUTHENTICATED_FULLY') %}
		<p>Hello {{ app.user.fullname }}, you are logged in!</p>
		{% if app.user.verified == 1 %}
			<p>You are verified</p>
		{% else %}
			<p>You are not verified</p>
		{% endif %}
		{% else %}
		<p>You are not logged in, hello random user !</p>
	{% endif %}

	{# flashes #}
	{% for type, messages in app.flashes %}
		{% for message in messages %}
			<div class="alert alert-{{ type }}" role="alert">
				{{ message }}
			</div>
		{% endfor %}
	{% endfor %}


	<div class="mb-4 d-flex justify-content-between">
		<a href="{{ path('app_home') }}">Home</a>
		{% if not is_granted('IS_AUTHENTICATED_FULLY') %}
			<a href="{{ path('app_login') }}" class="btn btn-primary">Login</a>
			<a href="{{ path('app_register') }}" class="btn btn-secondary">Register</a>
		{% endif %}

		{% if is_granted('IS_AUTHENTICATED_FULLY') %}

			<a href="{{ path('app_logout') }}" class="btn btn-secondary">Logout</a>
			{% if app.user.verified == 1 %}
			<a href="{{ path('create') }}" class="btn btn-success">Create New Trick</a>
			{% else %}
			<p>You are not verified, you can't create a trick, check your email !</p>
			{% endif %}
		{% endif %}
	</div>

	<ul>
		{% for trick in pagerfanta %}
			{% if trick.deleted == 0 %}
				<a href="{{ path('viewdetail', {'slug': trick.slug}) }}">{{ trick.name }}</a>
				{# show below only if the user is the creator of the trick #}
				{% if is_granted('IS_AUTHENTICATED_FULLY') and trick.creator == app.user %}
				<a href="{{ path('edit', {'slug': trick.slug}) }}">
					<ion-icon name="pencil-outline"></ion-icon>
				</a>

				<a href="{{ path('delete', {'slug': trick.slug}) }}">
					<ion-icon name="trash-outline"></ion-icon>
				</a>
				{% endif %}

				<img src="{{ trick.getImageLink(300) }}" alt="a trick image" width="300" height="200">

				{% if trick.getVideoLink() is defined and 'youtube' in trick.getVideoLink() and 'youtu.be' not in trick.getVideoLink() %}
					<iframe width="300" height="200" src="{{ trick.getVideoLink()|replace({'watch?v=': 'embed/'}) }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
				{% else %}
					<p>youtube link invalid, if it is a youtu.be change it to the youtube.com version</p>
				{% endif %}

			{% endif %}
			</br>
			</br>
			</br>

		{% endfor %}
	</ul>
	{{ pagerfanta(pagerfanta) }}

{% endblock %}

{% block javascripts %}
	<script src="https://unpkg.com/ionicons@latest/dist/ionicons.js"></script>
{% endblock %}
