{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
   

    <h1>SnowTricks</h1>

<div class="mb-4 d-flex justify-content-between">
<a href="{{ path('app_home') }}">Home</a>
{% if not is_granted('IS_AUTHENTICATED_FULLY') %}
    {# Display content for unauthenticated users #}
        <a href="{{ path('app_login') }}" class="btn btn-primary">Login</a>
        <a href="{{ path('app_register') }}" class="btn btn-secondary">Register</a>
{% endif %}

        {% if is_granted('IS_AUTHENTICATED_FULLY') %}

            <a href="{{ path('app_logout') }}" class="btn btn-secondary">Logout</a>
            <a href="{{ path('create') }}" class="btn btn-success">Create New Trick</a>
        {% endif %}
    </div>

<ul>
        {% for trick in pagerfanta %}
            <li>
                {{ trick.name }} - {{ trick.description }}
            </li>
            <a href="{{ path('viewdetail', {'slug': trick.slug}) }}">See more</a>
            <a href="{{ path('edit', {'slug': trick.slug}) }}">Edit Trick</a>
            <img src="{{ trick.getImageLink(300) }}" alt="a trick image" width="300" height="200">

            <iframe width="560" height="315" src="{{ trick.getVideoLink()|replace({'watch?v=': 'embed/'}) }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        {% endfor %}
    </ul>
    {{ pagerfanta(pagerfanta) }}

{% endblock %}
