{% extends 'base.html.twig' %}

{% block title %}{{'create_new_trick' | trans}}{% endblock %}

{% block body %}
    <div class="create-form m-5">
        <h1 id="createEdit">{{'create_new_trick' | trans}}</h1>
        {{ form_start(form) }}
            {{ form_widget(form) }}
            <ul class="imagelinks" data-prototype="&lt;div&gt;&lt;label class=&quot; required&quot;&gt;__name__&lt;/label&gt;&lt;div id=&quot;trick_imagelinks___name__&quot;&gt;&lt;div&gt;&lt;label for=&quot;trick_imagelinks___name___content&quot; class=&quot; required&quot;&gt;Contenu&lt;/label&gt;&lt;input type=&quot;text&quot; id=&quot;trick_imagelinks___name___content&quot; name=&quot;trick[imagelinks][__name__][content]&quot; required=&quot;required&quot; maxlength=&quot;255&quot; /&gt;&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;" data-index="0">
            </ul>
            <ul class="videolinks" data-prototype="&lt;div&gt;&lt;label class=&quot; required&quot;&gt;__name__&lt;/label&gt;&lt;div id=&quot;trick_videolinks___name__&quot;&gt;&lt;div&gt;&lt;label for=&quot;trick_videolinks___name___content&quot; class=&quot; required&quot;&gt;Contenu&lt;/label&gt;&lt;input type=&quot;text&quot; id=&quot;trick_videolinks___name___content&quot; name=&quot;trick[videolinks][__name__][content]&quot; required=&quot;required&quot; maxlength=&quot;255&quot; /&gt;&lt;/div&gt;&lt;/div&gt;&lt;/div&gt;" data-index="0">
            </ul>
            <input class="btn btn-success" type="submit" value={{'validate' | trans}}>
        {{ form_end(form) }}
    </div>
{% include 'footer.html.twig' %}
{% include 'phone.html.twig' %}
{% endblock %}

