{% extends 'base.html.twig' %}

{% block title %} Une figure de snowboard | {{ parent() }}{% endblock %}

{% block body %}
    <div class="mb-4 d-flex justify-content-between">
        <a href="{{ path('login') }}" class="btn btn-primary">Login</a>
        <a href="{{ path('register') }}" class="btn btn-secondary">Register</a>
        <a href="{{ path('create') }}" class="btn btn-success">Create New Trick</a>
    </div>
    <ul>
        {% for trick in tricks %}
            <li>
                {{ trick.name }} - {{ trick.description }}
            </li>
            <img src="{{ trick.getImageLink(300) }}" alt="a trick image">
        {% endfor %}
    </ul>
{% endblock %}
