{% extends 'base.html.twig' %}

{% block title %}
	Une figure de snowboard |
	{{ parent() }}
{% endblock %}

{% block body %}
	<div class="p-2 m-2">
		<h2 class="text-viewdetail">{{ trick.name }}</h2>
		<p class="text-viewdetail">Description {{ trick.description }}</p>
		<p class="text-viewdetail">Créé le {{ trick.createdAt|date('d/m/Y H:i') }}</p>
		<p class="text-viewdetail">Dernière modification le {{ trick.modifiedAt|date('d/m/Y H:i') }}</p>
		<p class="text-viewdetail">Groupe du trick : {{ trick.trickgroup }}</p>
		<p class="text-viewdetail">
			Par
			{{ trick.creator.fullname }}</p>
		
		{# button to show the media #}
		<button id='button-show-media'class="btn btn-primary" type="button">
			Show media
		</button>
		<div class="media-container hidden">
			<p class="text-viewdetail">Images</p>
			{% for image in trick.imageLinks %}
				<img src="{{ image.getContent(300) }}" alt="a trick image" width="300" height="200">
			{% endfor %}
			
			<p class="text-viewdetail">Videos</p>
			{% if trick.videoLinks is not empty %}
				{% for video in trick.videoLinks %}
					{% if 'youtube' in video.content and 'youtu.be' not in video.content %}
						<iframe width="300" height="200" src="{{ video.content|replace({'watch?v=': 'embed/'}) }}" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
					{% endif %}
				{% endfor %}
			{% else %}
				<p class="text-viewdetail">{{'no_video_for_this_trick' | trans}}</p>
			{% endif %}
		</div>
		{% if is_granted('IS_AUTHENTICATED_FULLY') %}
			{% if app.user.verified == 1 %}
				<a href="{{ path('addcomment', {'slug': trick.slug}) }}" class="btn btn-success">{{'add_comment' | trans}}</a>
			{% else %}
				<p class="text-viewdetail">{{'nedd_verify_account_to_comment' | trans}}</p>
			{% endif %}
		{% endif %}
		<h3 class="text-viewdetail">{{'comments_title' | trans}}</h3>
		{% for comment in comments %}
			<div class="card mb-3">
				<div class="card-body">
					<h5 class="card-text card-text-comment"> Par {{ comment.authorname.fullname }}</h5>
					<img src="{{ comment.authorname.getPhoto(300) }}" alt="image of the creator" width="40" height="40">
					<p class="card-text-comment">{{ comment.content }}</p>
					<p class="card-text"><small class="text-muted">Posté le {{ comment.createdAt|date('d/m/Y H:i') }}</small></p>
				</div>
			</div>
		{% else %}
			<p class="text-viewdetail">{{'no_comment_for_this_trick' | trans}}</p>
		{% endfor %}
			{{ pagerfanta(pagerfanta) }}
		{% if is_granted('IS_AUTHENTICATED_FULLY') and trick.creator == app.user %}
			{% if app.user.verified == 1 %}
				<a href="{{ path('edit', {'slug': trick.slug}) }}">
					<ion-icon class="delete-edit-icon" name="pencil-outline"></ion-icon>
				</a>
				<a href="#" onclick="if (confirm('Are you sure you want to delete this trick?')) { window.location.href='{{ path('delete', {'slug': trick.slug}) }}'; }">
                            <ion-icon class="delete-edit-icon" name="trash-outline"></ion-icon>
                        </a>
			{% else %}
				<p class="text-viewdetail">{{'account_not_active' | trans}}</p>
			{% endif %}
		{% endif %}
	</div>

{% include 'footer.html.twig' %}
{% include 'phone.html.twig' %}
{% endblock %}

{% block javascripts %}
	<script src="https://unpkg.com/ionicons@latest/dist/ionicons.js"></script>
{% endblock %}

